In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
csv_data = "../ETL/miami_df_final.csv"
miami_df = pd.read_csv(csv_data)

In [3]:
miami_df

,id,datetime,neighborhood,rent,br,ba,sqft,housingType,laundry,parking,cats,dogs,furnished,title,description,link
0,1,2021-05-30 14:02:00,Dadeland,1900,2,2.0,NaN,apartment,w/d in unit,carport,no,no,no,2/2 DADELAND: AMAZING UNIT Unique opportunity ...,80DADELAND: 2/2Unique opportunity to lease thi...,https://miami.craigslist.org/mdc/apa/d/2-dadel...
1,2,2021-05-30 14:02:00,Doral,2557,2,2.0,NaN,apartment,w/d in unit,attached garage,no,no,no,DEPÓSITO DE $ 500,"*** UNFURNISHED ONE,TWO,AND THREE BEDROOM ****...",https://miami.craigslist.org/mdc/apa/d/miami-d...
2,3,2021-05-30 14:02:00,Miami,2241,2,2.0,1106.0,apartment,w/d in unit,off-street parking,yes,yes,no,2 Bed 2 Bathroom Apartment,"One, Two, and Three Bedroom Miami Apartments A...",https://miami.craigslist.org/mdc/apa/d/miami-b...
3,4,2021-05-30 14:02:00,Doral,3399,3,2.0,NaN,apartment,w/d in unit,attached garage,no,no,no,"$500 deposit one,two,and three bedroom 24 hour...","*** UNFURNISHED ONE,TWO,AND THREE BEDROOM ****...",https://miami.craigslist.org/mdc/apa/d/miami-5...
4,5,2021-05-30 14:01:00,Doral,1978,1,1.0,NaN,apartment,w/d in unit,attached garage,no,no,no,un mes GRATIS,"*** UNFURNISHED ONE,TWO,AND THREE BEDROOM ****...",https://miami.craigslist.org/mdc/apa/d/miami-u...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,2590,2021-05-27 16:02:00,Miami,1950,1,1.0,NaN,apartment,w/d in unit,carport,no,no,no,Low credit or bad credit. NO PROBLEM BEST DEA...,0Gorgeous apartments ready to move in immediat...,https://miami.craigslist.org/mdc/apa/d/miami-l...
1832,2593,2021-05-27 15:58:00,Miami Beach,2500,2,2.0,1300.0,apartment,w/d in unit,carport,no,no,no,SHORT TERM RENTAL APT BAL HARBOUR,Gorgeous apartment in Bal Harbour Miami Beach....,https://miami.craigslist.org/mdc/apa/d/miami-b...
1833,2597,2021-05-27 15:54:00,Kendall,1500,2,2.0,NaN,apartment,w/d in unit,carport,no,no,no,2/2 2 Bedroom 2 Bathroom Unit Available KENDAL...,04KENDALL: 2/22 Bedroom 2 Bathroom Unit Availa...,https://miami.craigslist.org/mdc/apa/d/bedroom...
1834,2598,2021-05-27 15:54:00,Fontainebleau,1700,2,2.5,NaN,apartment,w/d in unit,carport,no,no,no,2/2.5 FONTAINEBLEU: MAGNIFICENT UNIT Great Loc...,"09FONTAINEBLEU: 2/2.5Great Location, beautiful...",https://miami.craigslist.org/mdc/apa/d/fontain...
1835,2599,2021-05-27 15:54:00,Kendall,1850,2,2.0,NaN,apartment,w/d in unit,carport,no,no,no,"2/2 BEST DEAL ON THIS UNIT Huge 1,050 square f...","61KENDALL: 2/2Huge 1,050 square foot 2 bedroom...",https://miami.craigslist.org/mdc/apa/d/2-best-...

In [ ]:
# Assign the data to X and y

X = brains["weight"].values.reshape(-1, 1)
y = brains["size"].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)

## LOGISTIC REGRESSION
Run LR model

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.linear_model import LogisticRegression