In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
import datetime
from tqdm.notebook import tqdm

## EXTRACT
Store datasets into DataFrames

In [2]:
csv_data = "../webscraping/miami_cl_webscrape.csv"
miami_cl_df = pd.read_csv(csv_data)

In [3]:
miami_cl_df

,Unnamed: 0,datetimes,hoods,prices,bedrooms,bathrooms,sqft,housing_type,laundry,parking,cats,dogs,furnished,titles,descriptions,links
0,0,2021-05-30 14:02,(Dadeland 2/2),"$1,900",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 DADELAND: AMAZING UNIT Unique opportun...,\n\nQR Code Link to This Post\n\n\nPROP # 07K8...,https://miami.craigslist.org/mdc/apa/d/2-dadel...
1,1,2021-05-30 14:02,(Doral),"$2,557",2BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,DEPÓSITO DE $ 500,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-d...
2,2,2021-05-30 14:02,(Miami),"$2,241",2BR,2Ba,1106,apartment,w/d in unit,off-street parking,yes,yes,none,2 Bed 2 Bathroom Apartment,"\n\nQR Code Link to This Post\n\n\nOne, Two, a...",https://miami.craigslist.org/mdc/apa/d/miami-b...
3,3,2021-05-30 14:02,(Doral),"$3,399",3BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,"$500 deposit one,two,and three bedroom 24 hour...",\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-5...
4,4,2021-05-30 14:01,(doral),"$1,978",1BR,1Ba,none,apartment,w/d in unit,attached garage,none,none,none,un mes GRATIS,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-u...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2594,2594,2021-05-27 15:57,(5350 NW 84th Ave #413),"$7,500",3BR,3Ba,none,apartment,w/d in unit,detached garage,none,none,none,Beautiful turn-key furnished 3 bedroom unit wi...,\n\nQR Code Link to This Post\n\n\nBeautiful t...,https://miami.craigslist.org/mdc/apa/d/miami-b...
2595,2595,2021-05-27 15:54,(480 NE 31 St #4907),"$8,500",3BR,3Ba,none,house,w/d in unit,street parking,none,none,none,**Amazing Penthouse level 3 bedrooms and 3 bat...,\n\nQR Code Link to This Post\n\n\napartment f...,https://miami.craigslist.org/mdc/apa/d/miami-a...
2596,2596,2021-05-27 15:54,(Kendall 2/2),"$1,500",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 2 Bedroom 2 Bathroom Unit Available KE...,\n\nQR Code Link to This Post\n\n\nPROP # 06K0...,https://miami.craigslist.org/mdc/apa/d/bedroom...
2597,2597,2021-05-27 15:54,(Fontainebleu 2/2.5),"$1,700",2BR,2.5Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2.5 FONTAINEBLEU: MAGNIFICENT UNIT Great...,\n\nQR Code Link to This Post\n\n\nPROP # 07K0...,https://miami.craigslist.org/mdc/apa/d/fontain...
2598,2598,2021-05-27 15:54,(Kendall 2/2),"$1,850",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,"●► 2/2 BEST DEAL ON THIS UNIT Huge 1,050 squa...",\n\nQR Code Link to This Post\n\n\nPROP # 07K6...,https://miami.craigslist.org/mdc/apa/d/2-best-...

## TRANSFORM
Clean DataFrame

In [4]:
miami_df = miami_cl_df.drop(columns=["Unnamed: 0"])
miami_df.head()

,datetimes,hoods,prices,bedrooms,bathrooms,sqft,housing_type,laundry,parking,cats,dogs,furnished,titles,descriptions,links
0,2021-05-30 14:02,(Dadeland 2/2),"$1,900",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 DADELAND: AMAZING UNIT Unique opportun...,\n\nQR Code Link to This Post\n\n\nPROP # 07K8...,https://miami.craigslist.org/mdc/apa/d/2-dadel...
1,2021-05-30 14:02,(Doral),"$2,557",2BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,DEPÓSITO DE $ 500,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-d...
2,2021-05-30 14:02,(Miami),"$2,241",2BR,2Ba,1106,apartment,w/d in unit,off-street parking,yes,yes,none,2 Bed 2 Bathroom Apartment,"\n\nQR Code Link to This Post\n\n\nOne, Two, a...",https://miami.craigslist.org/mdc/apa/d/miami-b...
3,2021-05-30 14:02,(Doral),"$3,399",3BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,"$500 deposit one,two,and three bedroom 24 hour...",\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-5...
4,2021-05-30 14:01,(doral),"$1,978",1BR,1Ba,none,apartment,w/d in unit,attached garage,none,none,none,un mes GRATIS,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-u...

In [5]:
miami_df = miami_df.rename(columns = {"datetimes": "datetime", "hoods": "neighborhood", "prices": "rent",\
                                                "bedrooms": "br", "bathrooms": "ba", "housing_type": "housingType",\
                                                "titles": "title", "descriptions": "description", "links": "link"})
miami_df.head()

,datetime,neighborhood,rent,br,ba,sqft,housingType,laundry,parking,cats,dogs,furnished,title,description,link
0,2021-05-30 14:02,(Dadeland 2/2),"$1,900",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 DADELAND: AMAZING UNIT Unique opportun...,\n\nQR Code Link to This Post\n\n\nPROP # 07K8...,https://miami.craigslist.org/mdc/apa/d/2-dadel...
1,2021-05-30 14:02,(Doral),"$2,557",2BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,DEPÓSITO DE $ 500,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-d...
2,2021-05-30 14:02,(Miami),"$2,241",2BR,2Ba,1106,apartment,w/d in unit,off-street parking,yes,yes,none,2 Bed 2 Bathroom Apartment,"\n\nQR Code Link to This Post\n\n\nOne, Two, a...",https://miami.craigslist.org/mdc/apa/d/miami-b...
3,2021-05-30 14:02,(Doral),"$3,399",3BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,"$500 deposit one,two,and three bedroom 24 hour...",\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-5...
4,2021-05-30 14:01,(doral),"$1,978",1BR,1Ba,none,apartment,w/d in unit,attached garage,none,none,none,un mes GRATIS,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-u...

In [6]:
miami_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2599 entries, 0 to 2598
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      2599 non-null   object
 1   neighborhood  2599 non-null   object
 2   rent          2599 non-null   object
 3   br            2599 non-null   object
 4   ba            2599 non-null   object
 5   sqft          2599 non-null   object
 6   housingType   2599 non-null   object
 7   laundry       2599 non-null   object
 8   parking       2599 non-null   object
 9   cats          2599 non-null   object
 10  dogs          2599 non-null   object
 11  furnished     2599 non-null   object
 12  title         2599 non-null   object
 13  description   2599 non-null   object
 14  link          2599 non-null   object
dtypes: object(15)
memory usage: 304.7+ KB

In [7]:
miami_df['datetime']

0       2021-05-30 14:02
1       2021-05-30 14:02
2       2021-05-30 14:02
3       2021-05-30 14:02
4       2021-05-30 14:01
              ...
2594    2021-05-27 15:57
2595    2021-05-27 15:54
2596    2021-05-27 15:54
2597    2021-05-27 15:54
2598    2021-05-27 15:54
Name: datetime, Length: 2599, dtype: object

In [8]:
miami_df['datetime'] = pd.to_datetime(miami_df['datetime'])
miami_df['datetime']

0      2021-05-30 14:02:00
1      2021-05-30 14:02:00
2      2021-05-30 14:02:00
3      2021-05-30 14:02:00
4      2021-05-30 14:01:00
               ...
2594   2021-05-27 15:57:00
2595   2021-05-27 15:54:00
2596   2021-05-27 15:54:00
2597   2021-05-27 15:54:00
2598   2021-05-27 15:54:00
Name: datetime, Length: 2599, dtype: datetime64[ns]

In [9]:
miami_df['neighborhood']

0                 (Dadeland 2/2)
1                        (Doral)
2                        (Miami)
3                        (Doral)
4                        (doral)
                  ...
2594     (5350 NW 84th Ave #413)
2595        (480 NE 31 St #4907)
2596               (Kendall 2/2)
2597        (Fontainebleu 2/2.5)
2598               (Kendall 2/2)
Name: neighborhood, Length: 2599, dtype: object

In [10]:
miami_df['neighborhood'].value_counts()

 (Kendall 2/2)                             239
 (Miami Beach)                             188
 (Miami)                                   154
 (SUNNY ISLES BEACH)                       148
 (Fontainebleu 2/2)                         98
                                          ...
 (Aventura - North Miami)                    1
 (East Little Havana)                        1
 (AVENTURA   Sunny Isles)                    1
 (BRICKELL LUXURY SPECIALIST)                1
 (YACHT CLUB RENTAL COMMUNITY BRICKELL)      1
Name: neighborhood, Length: 380, dtype: int64

In [11]:
pd.set_option('display.max_rows', None)
miami_df['neighborhood'] = miami_df['neighborhood'].str.title()
miami_df['neighborhood'].value_counts()

 (Kendall 2/2)                                                     239
 (Miami)                                                           220
 (Miami Beach)                                                     199
 (Sunny Isles Beach)                                               158
 (Doral)                                                           128
 (Fontainebleu 2/2)                                                 98
 (Coral Gables)                                                     98
 (Brickell)                                                         78
 (Dadeland 2/2)                                                     75
 (Hammocks 2/2)                                                     69
 (North Miami)                                                      62
 (Kendall)                                                          46
 (Miami Beach , South Beach)                                        36
 (North Miami Beach)                                                35
 (South Dadeland 2/2)                                               26
 (Downtown Miami)                                                   26
 (Aventura)                                                         25
 (Fontainebleu 2/2.5)                                               24
 (Coral Gables 2/2)                                                 23
 (Hammocks)                                                         22
 (South Miami)                                                      21
 (Hialeah)                                                          21
 (Edgewater)                                                        18
 (North Bay Village)                                                18
 (Dadeland)                                                         17
 (South Beach)                                                      16
 (Homestead)                                                        15
 (South Kendall 2/2)                                                15
 (Deerwod)                                                          14
 (Downtown)                                                         14
 (Miami, Fl)                                                        11
 (Cutler Bay)                                                       11
 (Coconut Grove)                                                    11
 (Brickell Miami)                                                   10
 (19491 Sw 210Th St)                                                10
 (Kendall 2/2.5)                                                    10
 (South Dadeland 2/2.5)                                              9
 (Midtown / Edgewater)                                               9
 (Downtown / Miami River)                                            9
 (531 Ne 68 St)                                                      8
 (South Beach Miami Beach)                                           8
 (Hollywood)                                                         8
 (1796 Normandy Dr)                                                  8
 (7396 Sw 128Th St #-)                                               8
 (Miami South Beach)                                                 8
 (1509 Fletcher St)                                                  7
 (Miami Gardens)                                                     7
 (1911 Waters Edge)                                                  7
 (Richmond West)                                                     7
 (11325 Nw 7Th St Miami, Fl)                                         7
 (Edgewater Miami)                                                   6
 (South Kendall 2/2.5)                                               6
 (Kendall Lake 2/2)                                                  6
 (6401 Grant St)                                                     6
 (7280 S Waterway Dr)                                                6
 (9201 Sw 56Th Ter #9201)                                            6
 (5350 Nw 84Th Ave #413)                                             6
 (Miami Fl)                                                          6
 (5112 Sw 87Th Ter)                                                  6
 (8217 Sw 72 Avenue #1306E)                                          6
 (1606 Wiley St)                                                     6
 (3115 Calle Largo Drive)                                            6
 (Downtown / Brickell)                                               6
 (Little Havana)                                                     6
 (Edgewater / Midtown)                                               5
 (Hialeah Gardens)                                                   5
 (5350 Nw 84Th Ave #513)                                             5
 (808 Brickell Key Dr #3105)                                         5
 (Kkendall)                                                          5
 (Boca Raton)                                                        5
 (2635 Liberty St)                                                   5
 (Brickell / Downtown)                                               5
 (1431 Fletcher St)                                                  5
 (North Bay Village - Miami Beach)                                   5
 (480 Ne 31 St #4907)                                                5
 (Midtown / Wynwood)                                                 5
 (Surfside)                                                          5
 (Upper East Side - Little River Arts District - Mimo)               5
 (Hollywood, Fort Lauderdale, Dania Beach)                           5
 (Miami, Fl ,)                                                       5
 (Miami Beach, Fl)                                                   5
 (4740 Alton Rd)                                                     5
 (4250 Biscayne Blvd #819)                                           4
 (El Portal)                                                         4
 (Palmetto Bay)                                                      4
 (West Hialeah)                                                      4
 (100 Lincoln Rd #1523)                                              4
 (Sweetwater)                                                        4
 (Fort Lauderdale, Fl)                                               4
 (16384 Sw 7Th Street)                                               4
 (Miami Garden)                                                      4
 (Miami Lakes)                                                       4
 (1552 Drexel)                                                       4
 (Sunny Isles Beach, Miami, Beach Front, Ocean Front, For Rent)      4
 (9025 Garland Ave #.)                                               4
 (350 S Miami Ave #3602)                                             3
 (Dadeland 2/2.5)                                                    3
 (North Miami-Ives Dairy Rd-West Of I95)                             3
 (Little Havana / Miami River)                                       3
 (Morningside Park)                                                  3
 (2180 Ne 44Th Court)                                                3
 (Little Havanna / Dowtowwn)                                         3
 (Florida City)                                                      3
 (Kendall Lake 2/2.5)                                                3
 (1830 S Ocean Dr #3502)                                             3
 (1000 E Island Blvd #304)                                           3
 (Sunny Isles Beach - Aventura - Oceanfront Building)                3
 (Aventura   Sunny Isles)                                            3
 (Beverly Terrace)                                                   3
 (Aventura - Sunny Isles Beach)                                      3
 (1452 Meridian St)                                                  3
 (Mid-Miami Beach)                                                   3
 (Venetian Island)                                                   3
 (150 Sunny Isles Blvd #1-1102)                                      3
 (8950 Sw 83Rd Ave, Miami, Fl, 33156)                                3
 (19333 Collins Ave #1810)                                           3
 (Fontainebleau)                                                     3
 (Hialeah, Fl)                                                       3
 (4100 Island Blvd #1402)                                            3
 (16699 Collins Av #3706)                                            3
 (416 Miller Rd)                                                     3
 (Miami, Fl , Palmetto Bay, Fl)                                      3
 (3723 Ne 16Th St)                                                   3
 (5224 Alton Rd)                                                     3
 (Sunny Isles)                                                       3
 (1830 S Ocean Dr #3804)                                             3
 (Midtown)                                                           3
 (21055 Ne 37Th Ave #1602)                                           3
 (3500 Mystic Pointe Dr #1008)                                       3
 (15901 Collins Ave #903)                                            3
 (Homestead, Fl)                                                     3
 (16699 Collins Ave #3601)                                           3
 (8599 Lakeside Dr)                                                  2
 (West Palm Beach, Fl)                                               2
 (16699 Collins Av #2006)                                            2
 (Opa Locka)                                                         2
 (3657 Sw 26 St)                                                     2
 (Coral Gables, Fl)                                                  2
 (Palm Beach Gardens)                                                2
 (Incredibly)                                                        2
 (301 88Th St #0)                                                    2
 (Hammocks 2/2.5)                                                    2
 (Westchester)                                                       2
 (1449 Sw 18Th Ave, Miami, Fl)                                       2
 (Miami, Fl , Kendall)                                               2
 (Bricekll)                                                          2
 (Miami, Waterfront, For Rent)                                       2
 (Pembroke Pines)                                                    2
 (Brickell Downtown)                                                 2
 (Miami River / Allapattah)                                          2
 (1550 Drexel)                                                       2
 (Miami Springs)                                                     2
 (1717 N Bayshore Dr #A-3556)                                        2
 (8200 Byron Ave #A)                                                 2
 (924 Tanglewood Cir)                                                2
 (Hallandale Beach)                                                  2
 (1302 Pennsylvania Av)                                              2
 (951 Brickell)                                                      2
 (Palmetto Bay / Kendall)                                            2
 (Edgewater Midtown Miami)                                           2
 (South Florida)                                                     2
 (Bal Harbour)                                                       2
 (Wynwood / Edgewater)                                               2
 (West Miami)                                                        2
 (Next To Aventura Mall)                                             2
 (Unincorporated Dade County)                                        2
 (6960 Nw 104Th Ct #6960)                                            2
 (Wynwood)                                                           2
 (1500 Bay Rd)                                                       2
 (Aventura, Miami, Condo For Rent)                                   2
 (Nmb Aventura - Biscayne And 172Nd St-See Map)                      1
 (Mimo / Upper East Side)                                            1
 (Miami, Aventura)                                                   1
 (Near Virginia Gardens)                                             1
 (2901 Virginia Street)                                              1
 (Aventura - Country Club Drive)                                     1
 (Miami Midtown Rental Commimity)                                    1
 (Mint Brickell)                                                     1
 (# Sunny Isles)                                                     1
 (Shorecrest / Miami Shores)                                         1
 (Boca Raton Square)                                                 1
 (Boca Raton Fl 33433)                                               1
 (Downtown / Venetian Cswy)                                          1
 (Aventura - North Miami)                                            1
 (Biscayne Landing)                                                  1
 (Brickell  - Downtown)                                              1
 (4930 Sw 87Th Ct, Miami, Fl)                                        1
 (508 W 1St Ave Hialeah)                                             1
 (Sunny Isles Beach - Aventura - Luxury Oceanfront Building)         1
 (Aeropuerto De Miami)                                               1
 (Brickell / Little Havana)                                          1
 (Little Haiti, Miami, Florida)                                      1
 (Madruga Ave, Coral Gables, Fl)                                     1
 (33175)                                                             1
 (Yacht Club Rental Community Brickell)                              1
 (South Beach  - Miami Beach)                                        1
 (3940 Nw 79Th Ave,, Doral, Fl)                                      1
 (Miami Lakes/Hialeah)                                               1
 (Miami Coral Way)                                                   1
 (Sunny Isles Beach  Aventura Miami)                                 1
 (Near Avent*Ura)                                                    1
 ((North Miami Beach Aventura Sunny Isles Beach))                    1
 (500 Brickell)                                                      1
 (Flamingo)                                                          1
 (Hallandale)                                                        1
 (Aria On The Bay)                                                   1
 (502 Ne 77 St)                                                      1
 (Cutler Bay, Fl)                                                    1
 (West Kendall , Miami-Florida)                                      1
 (Brickell Luxury Specialist)                                        1
 (270 Nw 58 Ct)                                                      1
 (Miami Beach... Normandy Island.... Near 71 St)                     1
 (South Miami, Fl)                                                   1
 (Quantum On The Bay)                                                1
 (Miami (Kendall))                                                   1
 (Majorca Ave, Coral Gables, Fl)                                     1
 (Icon Bay)                                                          1
 (Fort Lauderdale)                                                   1
 (Miami, Fl , Court Cir, Pinecrest, Fl)                              1
 (Sls Lux  Brickell)                                                 1
 (Hallandale Beach, Hallandale, For Rent)                            1
 (Kissimmee)                                                         1
 (Brickell  -  Downtown)                                             1
 (Brownsville)                                                       1
 (Ne*Ar A*Ventura)                                                   1
 (South Beach & Miami Beach)                                         1
 (Edgewater / Wynwood)                                               1
 (Miami-Kendal)                                                      1
 (Midtown 2)                                                         1
 (Aventura, Across From Aventura Mall)                               1
 (Miami (Westchester))                                               1
 (6880 Sw 44Th Street Miami, Fl)                                     1
 (Brickell, Miami,Southmiami,95,Us1,Gables,Um,Citi Center,Dade)      1
 (3310 Sw 72Nd Ave, Miami, Fl)                                       1
 (Wymnwood)                                                          1
 (Miami, Fl , Homestead, Fl)                                         1
 (Miami, Fl , Cutler Bay, Fl)                                        1
 (Roads Area)                                                        1
 (Bayshore)                                                          1
 (West Brickell / Downtown)                                          1
 (Brickell Downtown Miami)                                           1
 (North Lauderdale)                                                  1
 (Miami, 727 Ne 73Rd St, Fl)                                         1
 (Brickll Heights)                                                   1
 (Upper East Side, Miami)                                            1
 (3271 Sw 18Th Ter Miami, Fl)                                        1
 (Mimo District / Upper Eastside)                                    1
 (South Beach - Art Deco)                                            1
 (Aventura - Area)                                                   1
 (Sunny Isles - Aventura)                                            1
 (Across From Aventura Mall)                                         1
 (Plantation)                                                        1
 (Baycrest)                                                          1
 (5734 Nw 12 Av Miami Fl 33142)                                      1
 (Miami, Fl , Coral Gables, Fl)                                      1
 (Little Haiti)                                                      1
 (Cabana Club Apartments)                                            1
 (Coral Gables (Coral Way & 37Th))                                   1
 (Aventura, For Rent, Miami)                                         1
 (Brickell  Downtown Miami)                                          1
 (Miami, For Rent, Waterfront)                                       1
 (Venetian Causeway)                                                 1
 (Honolulu)                                                          1
 (Near Fiu)                                                          1
 (West Kendall)                                                      1
 (Miami - Ives Dairy Rd - Just West Of I-95)                         1
 (South Miami Hialeah)                                               1
 (Four Midtown)                                                      1
 (Miami, Jackson Memorial Hospital)                                  1
 (Opalocka)                                                          1
 (3960  Zimmerman Lane)                                              1
 (___ Aventura - Sunny Isles)                                        1
 (Sls Brickell)                                                      1
 (Sunny Isles Beach, Miami, Condo For Rent)                          1
 (Coral Way)                                                         1
 (Ivy Brickell)                                                      1
 (Golden Beach, Miami, Single Family Home, For Rent)                 1
 (North Miami Beach Aventura Sunny Isles Beach)                      1
 (In Hialeah **)                                                     1
 (Miami Beach Normandy Island)                                       1
 (Biscayne Point)                                                    1

In [12]:
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('(', '')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace(')', '')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace(' 2/2.5', '')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace(' 2/2', '')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace(' 2/2', '')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Miami Beach , South Beach', 'South Beach')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('South Beach Miami Beach', 'South Beach')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('South Dadeland', 'Dadeland')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Edgewater Miami', 'Midtown / Edgewater')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace(', FL', '')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace(', Fl', '')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Brickell Miami', 'Brickell')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Miami South Beach', 'South Beach')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Hammocks', 'Kendall')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('South Kendall', 'Kendall')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Downtown / Brickell', 'Brickell')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Kendall Lake', 'Kendall')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Deerwod', 'Deerwood')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Downtown Miami', 'Downtown')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Downtown / Miami River', 'Miami River')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Edgewater Miami', 'Edgewater')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Midtown / Wynwood', 'Wynwood')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('808 Brickell Key Dr #3105', 'Brickell')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Kkendall', 'Kendall')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Edgewater / Midtown', 'Midtown / Edgewater')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('West Hialeah', 'Hialeah')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Aventura - Sunny Isles Beach', 'Sunny Isles Beach')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Little Havana / Dowtowwn', 'Little Havana')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Sunny Isles Beach - Aventura - Oceanfront Building', 'Sunny Isles Beach')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('150 Sunny Isles Blvd #1-1102', 'Sunny Isles Beach')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Bricekll', 'Brickell')
miami_df['neighborhood'] = miami_df['neighborhood'].str.replace('Fontainebleu', 'Fontainebleau')
miami_df['neighborhood'].value_counts()

 Kendall                                                         423
 Miami                                                           231
 Miami Beach                                                     204
 Sunny Isles Beach                                               167
 Dadeland                                                        130
 Doral                                                           128
 Fontainebleau                                                   125
 Coral Gables                                                    123
 Brickell                                                        101
 South Beach                                                      68
 North Miami                                                      62
 Downtown                                                         40
 North Miami Beach                                                35
 Hialeah                                                          28
 Aventura                                                         25
 South Miami                                                      22
 Midtown / Edgewater                                              20
 Edgewater                                                        18
 Homestead                                                        18
 North Bay Village                                                18
 Deerwood                                                         14
 Cutler Bay                                                       12
 Coconut Grove                                                    11
 19491 Sw 210Th St                                                10
 Miami River                                                       9
 7396 Sw 128Th St #-                                               8
 1796 Normandy Dr                                                  8
 531 Ne 68 St                                                      8
 Hollywood                                                         8
 Wynwood                                                           7
 1911 Waters Edge                                                  7
 11325 Nw 7Th St Miami                                             7
 Miami Gardens                                                     7
 1509 Fletcher St                                                  7
 Richmond West                                                     7
 9201 Sw 56Th Ter #9201                                            6
 Little Havana                                                     6
 7280 S Waterway Dr                                                6
 3115 Calle Largo Drive                                            6
 5350 Nw 84Th Ave #413                                             6
 6401 Grant St                                                     6
 1606 Wiley St                                                     6
 Miami Fl                                                          6
 5112 Sw 87Th Ter                                                  6
 8217 Sw 72 Avenue #1306E                                          6
 Brickell / Downtown                                               5
 North Bay Village - Miami Beach                                   5
 480 Ne 31 St #4907                                                5
 Hialeah Gardens                                                   5
 Boca Raton                                                        5
 Miami ,                                                           5
 Upper East Side - Little River Arts District - Mimo               5
 Hollywood, Fort Lauderdale, Dania Beach                           5
 4740 Alton Rd                                                     5
 Fort Lauderdale                                                   5
 1431 Fletcher St                                                  5
 Surfside                                                          5
 5350 Nw 84Th Ave #513                                             5
 2635 Liberty St                                                   5
 1552 Drexel                                                       4
 9025 Garland Ave #.                                               4
 100 Lincoln Rd #1523                                              4
 Miami Garden                                                      4
 Sunny Isles Beach, Miami, Beach Front, Ocean Front, For Rent      4
 Miami Lakes                                                       4
 4250 Biscayne Blvd #819                                           4
 Palmetto Bay                                                      4
 El Portal                                                         4
 Sweetwater                                                        4
 16384 Sw 7Th Street                                               4
 416 Miller Rd                                                     3
 Florida City                                                      3
 Little Havanna / Dowtowwn                                         3
 Midtown                                                           3
 1452 Meridian St                                                  3
 5224 Alton Rd                                                     3
 15901 Collins Ave #903                                            3
 1830 S Ocean Dr #3502                                             3
 350 S Miami Ave #3602                                             3
 North Miami-Ives Dairy Rd-West Of I95                             3
 2180 Ne 44Th Court                                                3
 Miami , Palmetto Bay                                              3
 21055 Ne 37Th Ave #1602                                           3
 3500 Mystic Pointe Dr #1008                                       3
 Aventura   Sunny Isles                                            3
 Venetian Island                                                   3
 Mid-Miami Beach                                                   3
 Morningside Park                                                  3
 4100 Island Blvd #1402                                            3
 16699 Collins Ave #3601                                           3
 19333 Collins Ave #1810                                           3
 1830 S Ocean Dr #3804                                             3
 Little Havana / Miami River                                       3
 Beverly Terrace                                                   3
 8950 Sw 83Rd Ave, Miami, 33156                                    3
 1000 E Island Blvd #304                                           3
 Brickell Downtown                                                 3
 West Palm Beach                                                   3
 16699 Collins Av #3706                                            3
 Sunny Isles                                                       3
 3723 Ne 16Th St                                                   3
 Hallandale Beach                                                  2
 West Miami                                                        2
 Opa Locka                                                         2
 Westchester                                                       2
 North Miami Beach Aventura Sunny Isles Beach                      2
 301 88Th St #0                                                    2
 8599 Lakeside Dr                                                  2
 1449 Sw 18Th Ave, Miami                                           2
 Miami River / Allapattah                                          2
 Wynwood / Edgewater                                               2
 Aventura, Miami, Condo For Rent                                   2
 951 Brickell                                                      2
 Next To Aventura Mall                                             2
 Edgewater Midtown Miami                                           2
 924 Tanglewood Cir                                                2
 Palmetto Bay / Kendall                                            2
 16699 Collins Av #2006                                            2
 Unincorporated Dade County                                        2
 Bal Harbour                                                       2
 Pembroke Pines                                                    2
 6960 Nw 104Th Ct #6960                                            2
 Miami , Cutler Bay                                                2
 South Florida                                                     2
 3657 Sw 26 St                                                     2
 1550 Drexel                                                       2
 8200 Byron Ave #A                                                 2
 Incredibly                                                        2
 1500 Bay Rd                                                       2
 Palm Beach Gardens                                                2
 Miami Springs                                                     2
 1302 Pennsylvania Av                                              2
 1717 N Bayshore Dr #A-3556                                        2
 Miami, Waterfront, For Rent                                       2
 Miami , Kendall                                                   2
 Miami Westchester                                                 1
 Downtown / Civic Center                                           1
 Sunny Isles Beach, Miami, Bay  Front, Water Front, For Rent       1
 Boca Raton Fl 33433                                               1
 Miami , Court Cir, Pinecrest                                      1
 Miami, For Rent, Waterfront                                       1
 South Miami Hialeah                                               1
 Mimo District / Upper Eastside                                    1
 Golden Beach, Miami, Single Family Home, For Rent                 1
 Miami , Coral Gables                                              1
 Sunny Isles Beach - Aventura - Luxury Oceanfront Building         1
 Brickll Heights                                                   1
 Near Virginia Gardens                                             1
 270 Nw 58 Ct                                                      1
 Miami , Homestead                                                 1
 Yacht Club Rental Community Brickell                              1
 Near Avent*Ura                                                    1
 Downtown / Venetian Cswy                                          1
 North Miami-Ives Dairy Rd- Just West Of I95                       1
 Aventura  Sunny Isles                                             1
 508 W 1St Ave Hialeah                                             1
 Brickell Luxury Specialist                                        1
 Sunny Isle Beach - Aventura - Miami                               1
 Brickell, Miami,Southmiami,95,Us1,Gables,Um,Citi Center,Dade      1
 Miami-Kendal                                                      1
 Miami Lakes/Hialeah                                               1
 Sls Brickell                                                      1
 Flamingo                                                          1
 Coral Way                                                         1
 3271 Sw 18Th Ter Miami                                            1
 1000 Nw 7Th St, Miami                                             1
 Nmb Aventura - Biscayne And 172Nd St-See Map                      1
 6250 Sw 27Th St                                                   1
 Little Haiti                                                      1
 Aventura    Sunny Isles                                           1
 Aventura  - Sunny Isles                                           1
 500 Brickell                                                      1
 Upper Eastside                                                    1
 Aventura, Across From Aventura Mall                               1
 East Little Havana                                                1
 Near A*Ventura                                                    1
 Midtown 2                                                         1
 Miami Beach Normandy Island                                       1
 502 Ne 77 St                                                      1
 Ne*Ar A*Ventura                                                   1
 Miami - Fort Lauderdale Area                                      1
 Miami Coral Way                                                   1
 Miami Midtown Rental Commimity                                    1
 Aventura - Country Club Drive                                     1
 Plantation                                                        1
 Sls Lux  Brickell                                                 1
 Mimo / Upper East Side                                            1
 Kissimmee                                                         1
 West Kendall                                                      1
 Shores Crest                                                      1
 Edgewatwer                                                        1
 Miami , Tigertail Ave,                                            1
 Brickll                                                           1
 Majorca Ave, Coral Gables                                         1
 North Lauderdale                                                  1
 Andover Lakes  Estates                                            1
 Brickell  - Downtown                                              1
 # Sunny Isles                                                     1
 5734 Nw 12 Av Miami Fl 33142                                      1
 Venetian Causeway                                                 1
 3960  Zimmerman Lane                                              1
 South Beach  - Miami Beach                                        1
 Sunny Isles Beach  Aventura Miami                                 1
 Aventura - Area                                                   1
 Cabana Club Apartments                                            1
 Shorecrest / Miami Shores                                         1
 11474 Sw 109Th Rd #43D, Miami                                     1
 ___ Aventura - Sunny Isles                                        1
 Boca Raton Square                                                 1
 Aventura, For Rent, Miami                                         1
 Miami, 727 Ne 73Rd St                                             1
 West Brickell / Downtown                                          1
 Miami, Jackson Memorial Hospital                                  1
 Highland Lakes - Aventura - North Miami                           1
 3940 Nw 79Th Ave,, Doral                                          1
 South Beach & Miami Beach                                         1
 Upper East Side, Miami                                            1
 Sunnt Isles Beach                                                 1
 Ne.68 Th.                                                         1
 Dinner Key Marina                                                 1
 Sunray West - North Miami Beach                                   1
 Brownsville                                                       1
 2901 Virginia Street                                              1
 Miami Beach... Normandy Island.... Near 71 St                     1
 Bay Harbor Islands                                                1
 Miami, Aventura                                                   1
 Aventura Area                                                     1
 Hallandale                                                        1
 Miami Kendall                                                     1
 Sunny Isles Beach, Miami, Condo For Rent                          1
 Next To Aventura                                                  1
 In Hialeah **                                                     1
 Mizner Park/Boca Raton                                            1
 Flamingo Point, Brand New Flamingo!                               1
 33175                                                             1
 Aria On The Bay                                                   1
 Aventure   Sunny Isles                                            1
 Miami - Ives Dairy Rd - Just West Of I-95                         1
 Brickell  Downtown                                                1
 Quantum On The Bay                                                1
 3310 Sw 72Nd Ave, Miami                                           1
 Miami Beach Close To The Beach                                    1
 Ivy Brickell                                                      1
 Wymnwood                                                          1
 Alhambra Cir, Coral Gables                                        1
 Mint Brickell                                                     1
 Opalocka                                                          1
 Edgewater    Miami    Midtown   Design District                   1
 18567 Nw 19Th St, Pembroke Pines                                  1
 Madruga Ave, Coral Gables                                         1
 Bayshore                                                          1
 Edgewater / Wynwood                                               1
 Sunny Isles - Aventura                                            1
 Icon Bay                                                          1
 Baycrest                                                          1
 Four Midtown                                                      1
 Brickell  -  Downtown                                             1
 Aventura - North Miami                                            1
 Across From Aventura Mall                                         1
 Paraiso Bayv Iews                                                 1
 Miami, Sunny Isles Beach, For Rent, Waterfront                    1
 Hallandale Beach, Hallandale, For Rent                            1
 Coral Gables Coral Way & 37Th                                     1
 Near Fiu                                                          1
 Bay Crest                                                         1
 Biscayne Point                                                    1
 Brickell / Little Havana                                          1
 6880 Sw 44Th Street Miami                                         1
 Miami , Westchester                                               1
 Little Haiti, Miamiorida                                          1
 Fontainbleau                                                      1
 Princeton                                                         1
 Saratoga Springs                                                  1
 4930 Sw 87Th Ct, Miami                                            1
 Honolulu                                                          1
 Aeropuerto De Miami                                               1
 Princeton Sw Miami                                                1
 West Kendall , Miami-Florida                                      1
 Hallandale Beach,  East, For Rent, Hallandale, Waterfront         1
 Roads Area                                                        1
 Dadeland North                                                    1
 Biscayne Landing                                                  1
 South Beach - Art Deco                                            1
Name: neighborhood, dtype: int64

In [13]:
miami_df.columns

Index(['datetime', 'neighborhood', 'rent', 'br', 'ba', 'sqft', 'housingType',
       'laundry', 'parking', 'cats', 'dogs', 'furnished', 'title',
       'description', 'link'],
      dtype='object')

In [36]:
broward_neighborhoods = ["Pembroke Pines", "Hollywood", "Fort Lauderdale", "Hallandale Beach"]
indexes_to_drop = []

for broward_hood in broward_neighborhoods:
    broward_drop = miami_df[(miami_df.neighborhood.str.contains(broward_hood))]
    indexes_to_drop.append(broward_drop)
    
miami_df2 = miami_df.drop(indexes_to_drop)
miami_df2
# miami_df.drop(indexes_to_drop).reset_index(level = 0, drop = True)

# for i in tqdm(miami_df.index):
#     if [miami_df[(~miami_df['neighborhood'])].isin(broward_neighborhoods)]:
#         indexes_to_drop.append(i)
        
# miami_df.drop(indexes_to_drop).reset_index(level = 0, drop = True)

# miami_df.drop(miami_df.index[indexes_to_drop], inplace=True )

/Users/valerie/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [35]:
indexes_to_drop.dtype

AttributeError: 'list' object has no attribute 'dtype'

In [22]:
miami_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2599 entries, 0 to 2598
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      2599 non-null   datetime64[ns]
 1   neighborhood  2599 non-null   object
 2   rent          2599 non-null   object
 3   br            2599 non-null   object
 4   ba            2599 non-null   object
 5   sqft          2599 non-null   object
 6   housingType   2599 non-null   object
 7   laundry       2599 non-null   object
 8   parking       2599 non-null   object
 9   cats          2599 non-null   object
 10  dogs          2599 non-null   object
 11  furnished     2599 non-null   object
 12  title         2599 non-null   object
 13  description   2599 non-null   object
 14  link          2599 non-null   object
dtypes: datetime64[ns](1), object(14)
memory usage: 304.7+ KB

In [15]:
indexes_to_drop

NameError: name 'indexes_to_drop' is not defined

In [ ]:
hood_col = miami_df['neighborhood'].value_counts().to_frame()
hood_col

In [ ]:
miami_df['rent']

In [ ]:
miami_df['rent'] = miami_df['rent'].str.replace(',', '')
miami_df['rent'] = miami_df['rent'].str.replace('$', '')
miami_df['rent']

In [ ]:
miami_df['rent'] = pd.to_numeric(miami_df['rent'])
miami_df['rent']

In [ ]:
miami_df['br']

In [ ]:
miami_df['br'] = miami_df['br'].str.replace('BR', '')
miami_df['br'] = pd.to_numeric(miami_df['br'])
miami_df['br']

In [ ]:
miami_df['ba']

In [ ]:
miami_df['ba'] = miami_df['ba'].str.replace('sharedBa', '')
miami_df['ba'] = miami_df['ba'].str.replace('Ba', '')
miami_df['ba'] = pd.to_numeric(miami_df['ba'])
miami_df['ba']

In [ ]:
miami_df['sqft']

In [ ]:
miami_df['sqft'] = miami_df['sqft'].str.replace('none', '')
miami_df['sqft'] = pd.to_numeric(miami_df['sqft'])
miami_df['sqft']

In [ ]:
miami_df['housingType'].value_counts()

In [ ]:
miami_df['laundry'].value_counts()

In [ ]:
miami_df['parking'].value_counts()

In [ ]:
miami_df['cats'].value_counts()

In [ ]:
miami_df['cats'] = miami_df['cats'].str.replace('none', 'no')
miami_df['cats']

In [ ]:
miami_df['dogs'].value_counts()

In [ ]:
miami_df['dogs'] = miami_df['dogs'].str.replace('none', 'no')
miami_df['dogs'].value_counts()

In [ ]:
miami_df['furnished'].value_counts()

In [ ]:
miami_df['furnished'] = miami_df['furnished'].str.replace('none', 'no')
miami_df['furnished'].value_counts()

In [ ]:
miami_df['title']

In [ ]:
miami_df['title'] = miami_df['title'].str.replace('●►  ', '')
miami_df['title'] = miami_df['title'].str.replace('*', '')
miami_df['title'] = miami_df['title'].str.replace('●', '')
miami_df['title']

In [ ]:
miami_df['description']

In [ ]:
miami_df['description'] = miami_df['description'].str.replace('\n\nQR Code Link to This Post\n\n\n', '')
miami_df['description'] = miami_df['description'].str.replace('\n', '')
miami_df['description'] = miami_df['description'].str.replace('PROP # 07K', '')
miami_df['description'] = miami_df['description'].str.replace('PROP # 06K', '')
miami_df['description']

In [ ]:
miami_df['link'].value_counts()