In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
import datetime

## EXTRACT
Store datasets into DataFrames

In [2]:
csv_data = "../webscraping/miami_cl_webscrape.csv"
miami_cl_df = pd.read_csv(csv_data)

In [3]:
miami_cl_df

,Unnamed: 0,datetimes,hoods,prices,bedrooms,bathrooms,sqft,housing_type,laundry,parking,cats,dogs,furnished,titles,descriptions,links
0,0,2021-05-30 14:02,(Dadeland 2/2),"$1,900",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 DADELAND: AMAZING UNIT Unique opportun...,\n\nQR Code Link to This Post\n\n\nPROP # 07K8...,https://miami.craigslist.org/mdc/apa/d/2-dadel...
1,1,2021-05-30 14:02,(Doral),"$2,557",2BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,DEPÓSITO DE $ 500,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-d...
2,2,2021-05-30 14:02,(Miami),"$2,241",2BR,2Ba,1106,apartment,w/d in unit,off-street parking,yes,yes,none,2 Bed 2 Bathroom Apartment,"\n\nQR Code Link to This Post\n\n\nOne, Two, a...",https://miami.craigslist.org/mdc/apa/d/miami-b...
3,3,2021-05-30 14:02,(Doral),"$3,399",3BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,"$500 deposit one,two,and three bedroom 24 hour...",\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-5...
4,4,2021-05-30 14:01,(doral),"$1,978",1BR,1Ba,none,apartment,w/d in unit,attached garage,none,none,none,un mes GRATIS,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-u...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2594,2594,2021-05-27 15:57,(5350 NW 84th Ave #413),"$7,500",3BR,3Ba,none,apartment,w/d in unit,detached garage,none,none,none,Beautiful turn-key furnished 3 bedroom unit wi...,\n\nQR Code Link to This Post\n\n\nBeautiful t...,https://miami.craigslist.org/mdc/apa/d/miami-b...
2595,2595,2021-05-27 15:54,(480 NE 31 St #4907),"$8,500",3BR,3Ba,none,house,w/d in unit,street parking,none,none,none,**Amazing Penthouse level 3 bedrooms and 3 bat...,\n\nQR Code Link to This Post\n\n\napartment f...,https://miami.craigslist.org/mdc/apa/d/miami-a...
2596,2596,2021-05-27 15:54,(Kendall 2/2),"$1,500",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 2 Bedroom 2 Bathroom Unit Available KE...,\n\nQR Code Link to This Post\n\n\nPROP # 06K0...,https://miami.craigslist.org/mdc/apa/d/bedroom...
2597,2597,2021-05-27 15:54,(Fontainebleu 2/2.5),"$1,700",2BR,2.5Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2.5 FONTAINEBLEU: MAGNIFICENT UNIT Great...,\n\nQR Code Link to This Post\n\n\nPROP # 07K0...,https://miami.craigslist.org/mdc/apa/d/fontain...
2598,2598,2021-05-27 15:54,(Kendall 2/2),"$1,850",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,"●► 2/2 BEST DEAL ON THIS UNIT Huge 1,050 squa...",\n\nQR Code Link to This Post\n\n\nPROP # 07K6...,https://miami.craigslist.org/mdc/apa/d/2-best-...

## TRANSFORM
Clean DataFrame

In [4]:
miami_df = miami_cl_df.drop(columns=["Unnamed: 0"])
miami_df.head()

,datetimes,hoods,prices,bedrooms,bathrooms,sqft,housing_type,laundry,parking,cats,dogs,furnished,titles,descriptions,links
0,2021-05-30 14:02,(Dadeland 2/2),"$1,900",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 DADELAND: AMAZING UNIT Unique opportun...,\n\nQR Code Link to This Post\n\n\nPROP # 07K8...,https://miami.craigslist.org/mdc/apa/d/2-dadel...
1,2021-05-30 14:02,(Doral),"$2,557",2BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,DEPÓSITO DE $ 500,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-d...
2,2021-05-30 14:02,(Miami),"$2,241",2BR,2Ba,1106,apartment,w/d in unit,off-street parking,yes,yes,none,2 Bed 2 Bathroom Apartment,"\n\nQR Code Link to This Post\n\n\nOne, Two, a...",https://miami.craigslist.org/mdc/apa/d/miami-b...
3,2021-05-30 14:02,(Doral),"$3,399",3BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,"$500 deposit one,two,and three bedroom 24 hour...",\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-5...
4,2021-05-30 14:01,(doral),"$1,978",1BR,1Ba,none,apartment,w/d in unit,attached garage,none,none,none,un mes GRATIS,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-u...

In [5]:
miami_df = miami_df.rename(columns = {"datetimes": "datetime", "hoods": "neighborhood", "prices": "rent",\
                                                "bedrooms": "br", "bathrooms": "ba", "housing_type": "housingType",\
                                                "titles": "title", "descriptions": "description", "links": "link"})
miami_df.head()

,datetime,neighborhood,rent,br,ba,sqft,housingType,laundry,parking,cats,dogs,furnished,title,description,link
0,2021-05-30 14:02,(Dadeland 2/2),"$1,900",2BR,2Ba,none,apartment,w/d in unit,carport,none,none,none,●► 2/2 DADELAND: AMAZING UNIT Unique opportun...,\n\nQR Code Link to This Post\n\n\nPROP # 07K8...,https://miami.craigslist.org/mdc/apa/d/2-dadel...
1,2021-05-30 14:02,(Doral),"$2,557",2BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,DEPÓSITO DE $ 500,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-d...
2,2021-05-30 14:02,(Miami),"$2,241",2BR,2Ba,1106,apartment,w/d in unit,off-street parking,yes,yes,none,2 Bed 2 Bathroom Apartment,"\n\nQR Code Link to This Post\n\n\nOne, Two, a...",https://miami.craigslist.org/mdc/apa/d/miami-b...
3,2021-05-30 14:02,(Doral),"$3,399",3BR,2Ba,none,apartment,w/d in unit,attached garage,none,none,none,"$500 deposit one,two,and three bedroom 24 hour...",\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-5...
4,2021-05-30 14:01,(doral),"$1,978",1BR,1Ba,none,apartment,w/d in unit,attached garage,none,none,none,un mes GRATIS,\n\nQR Code Link to This Post\n\n\n*** UNFURNI...,https://miami.craigslist.org/mdc/apa/d/miami-u...

In [12]:
miami_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2599 entries, 0 to 2598
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      2599 non-null   object
 1   neighborhood  2599 non-null   object
 2   rent          2599 non-null   object
 3   br            2599 non-null   object
 4   ba            2599 non-null   object
 5   sqft          2599 non-null   object
 6   housingType   2599 non-null   object
 7   laundry       2599 non-null   object
 8   parking       2599 non-null   object
 9   cats          2599 non-null   object
 10  dogs          2599 non-null   object
 11  furnished     2599 non-null   object
 12  title         2599 non-null   object
 13  description   2599 non-null   object
 14  link          2599 non-null   object
dtypes: object(15)
memory usage: 304.7+ KB

In [8]:
miami_df[['rent', 'br', 'ba', '2016 Med. Income', '2015 Med. Income']]\
= miami_df[['']].apply(pd.to_numeric)

print(miami_df.dtypes)

In [9]:
miami_df['datetime']

0       2021-05-30 14:02
1       2021-05-30 14:02
2       2021-05-30 14:02
3       2021-05-30 14:02
4       2021-05-30 14:01
              ...
2594    2021-05-27 15:57
2595    2021-05-27 15:54
2596    2021-05-27 15:54
2597    2021-05-27 15:54
2598    2021-05-27 15:54
Name: datetime, Length: 2599, dtype: object

In [15]:
miami_df['datetime'] = pd.to_datetime(miami_df['datetime'])
miami_df['datetime']

In [20]:
miami_df['rent']

0       $1,900
1       $2,557
2       $2,241
3       $3,399
4       $1,978
         ...
2594    $7,500
2595    $8,500
2596    $1,500
2597    $1,700
2598    $1,850
Name: rent, Length: 2599, dtype: object

In [22]:
miami_df['rent'] = miami_df['rent'].str.replace(',', '')
miami_df['rent'] = miami_df['rent'].str.replace('$', '')
miami_df['rent']

0       1900
1       2557
2       2241
3       3399
4       1978
        ...
2594    7500
2595    8500
2596    1500
2597    1700
2598    1850
Name: rent, Length: 2599, dtype: object

In [23]:
miami_df['rent'] = pd.to_numeric(miami_df['rent'])
miami_df['rent']

0       1900
1       2557
2       2241
3       3399
4       1978
        ...
2594    7500
2595    8500
2596    1500
2597    1700
2598    1850
Name: rent, Length: 2599, dtype: int64